@model IEnumerable<Vidly.Models.Movie>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Release date</th>
                <th>Rented by</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
            <tr>
                <td>
                    <i>
                        @Html.ActionLink(linkText: movie.Name,
              actionName: "get",
              controllerName: "movies",
              routeValues: new { id = movie.Id },
              htmlAttributes: null)
                    </i>
                </td>

                <td>@movie.GetGenreTypeName()</td>
                <td>@movie.GetReleaseDateToString()</td>
                <td>@movie.Movies2Customers.Count</td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No movies yet</p>
}