<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customers</th>
            <th>Membership type</th>
            <th>Discount Rate</th>
            <th>Rented movies</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>