@model IEnumerable<Vidly.Models.Customer>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Discount Rate</th>
                <th>Rented movies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(linkText: customer.Name,
                          actionName: "get",
                          controllerName: "customers",
                          routeValues: new { id = customer.Id },
                          htmlAttributes: null)
                    </td>
                    <td>@customer.MembershipType.DiscountRate %</td>
                    <td>@customer.Movies.Count</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No customers</p>
}
