@model Vidly.Models.Customer

<script type='text/javascript'>
    $(document).ready(function () {
        var vm = {
            customerId: number = 0,
            movieIds: []
        };

        var customers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/customers?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#customer.typeahead').typeahead({
            minLength: 3,
            highlight: true
        }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
            });


        var movies = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/movies?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#movie.typeahead').typeahead({
            minLength: 3,
            highlight: true
        },
            {
                name: 'movies',
                display: 'name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                if (movie.id in vm.movieIds) {
                    ;
                }
                else {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                    vm.movieIds.push(movie.id);
                }
                $("#movie").typeahead("val", "");
            });

        $("#newRental").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/api/newRentals",
                method: "post",
                data: vm
            })
            .done(function () {
                toastr.success("Rentals recorded.");
                $("#movies").empty();
                $("#movie").typeahead("val", "");
                $("#customer").typeahead("val", "");
                vm.movieIds = [];
                vm.customerId = 0;
            }).fail(function (e) {
                let errorMessage = undefined;
                if (e != undefined && e.responseJSON != undefined) {
                    errorMessage = e.responseJSON["message"];
                }
                toastr.error(errorMessage, "Something went wrong");
            });
        });
    });
</script>